.profile-dropdown {
  position: absolute;
  background-color: transparent;
  right: 30px;
}

.hidden {
  display: none;
}

li {
  list-style: none;
}

.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #484a4d;
  background-color: white;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0px;

  z-index: 20;
}

.nav-function-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}
