.review-page-container {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.review-post-recap {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.other-reviews {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.rp-review {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid black;
    padding: 20px;
    overflow-wrap: anywhere;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    /* width: 500px; */
    background-color: white;
}

.rv-manage-buttons {
    display: flex;
    justify-content: flex-end;
}

.rv-username {
    color: gray;
}
