.review-page-container {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.review-post-recap {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    overflow-wrap: anywhere;
}

.reviews-container > h2 {
    display: flex;
    justify-content: center;
}

.other-reviews {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80%;
    background-color: white;
}

.avg-rating {
    border-bottom: 1px solid black;
}

.rp-review {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid black;
    padding: 20px;
    overflow-wrap: anywhere;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    /* width: 500px; */
    background-color: white;
}

.rv-manage-buttons {
    display: flex;
    justify-content: flex-end;
}

.rv-username {
    color: gray;
}

.create-review-btn > button {
    background-color: #c1c1c1;
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 40px;

  }

   .create-review-btn > button:hover {
    box-shadow: 2px 2px 2px rgb(78, 78, 78);
  }

  .create-review-btn {
    padding: 15px;
  }
