.my-post-delete {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 25px;
}

.my-post-delete > h3 {
    padding: 20px;
    align-items: center;
}

.my-post-delete > button {
    background-color: #557e71;
    border: none;
    border-radius: 25px;
    width: 300px;
    height: 45px;
    margin: 15px;
}

.my-post-delete > button:hover {
    box-shadow: 2px 2px 2px rgb(78, 78, 78);

}

#dl-x {
    display: flex;
    justify-content: flex-end;
    padding-left: 320px;
}
